#outer{
    height:400px;
    width:400px;
    background-color: papayawhip;
    border: 2px solid black;
    font-size: 20px;
    margin-bottom: 20px;
}

#inner{
    height: 100px;
    width:100px;
    background-color: aqua;
    font-size: 1.5em; /* 30px 1.5x20  from parent element*/
    padding-left: 1em; /*30px self */
}

button{
    font-size: 25px;
    border-radius: 15px;
    border:2px solid blue;
    background-color: burlywood;
    padding-left: 1em;
    padding-right: 1em; /* 25px on left and 25px on right --self */
}

section{
    font-size:25px;
}

/* div{
    font-size: 2em; snowball effect 
} */

div{
    font-size: 2rem;
}